$color1: #042E50;
$color2: #185C94;
$color3: #1c6aa9;
$color4: #90B9DB;

h1{margin: 30px;}

a {color: white; font-size: 2ch;}

h2{margin: 0;}

footer{
  width: 100%;
  padding-block: 10px;
  border-top-style: solid;
}

body {
  margin: 0;
  text-align: center;
  color: white;
  background-color: cornflowerblue; 
  background-image: linear-gradient($color1, $color2);
  font-family: Arial; 
}

li{
  display: inline;

  :hover, a:hover{
    border-color: white;
    color: white;
  }

  a{
    height: 10px;
    border-radius: 1ch;
    border-style: solid;
    border-width: 2px;
    border-color: $color4;
    padding: 7px;
    padding-inline: 14px;
    font-size: large; 
    margin-inline: 10px; 
    background-color: $color1;
    color: $color4;
    text-decoration: none;
  }
}

main{
  background-image: linear-gradient($color3, $color1);
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  width: 1000px;
  border-color: white;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
}

header{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 140px;
  border-bottom-style: solid;
}

.section{

  border-radius: 3ch;
  border-style: solid;
  border-width: 2px;
  margin: 30px;
  background-color: $color2;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;

  &:hover{background-color: $color3;}

  img{width: 400px;}

  p {font-size: larger;}

  &__news{
    @extend .section;
    width: 750px;
    text-align: left;

    img{
      width: 150px;
    }

    div{
      padding-right: 20px;
      float: left;
      width: 150px; 
      text-align: center;
    }
  }

  &__table {
    @extend .section;

    table, tr, th, td {
      border: 2px solid; 
      border-collapse: collapse;
      padding: 20px;
      font-size: large;
    }

    tr:nth-child(odd) {background: $color3;}
  }

  &__teachers{
    @extend .section;

    ul{
      padding-top: 20px;
      text-align: center;
      padding-inline-start: 18vw;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    li{
      font-size: larger;
      margin: 10px;
      text-align: left;
      display: list-item;
    }
  }
}

@media screen and (max-height: 1000px) {
  main{
      min-width: 500px;
      max-width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (max-width: 1035px) {
  .section__news{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 928px) {
  .section__table th, .section__table td, .section__table tr{
    font-size: 2vw; 
    padding-inline: 5%;
    width: 192px;
  }
  .section, .section__table, .section__teachers{
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 719px) {
  header{
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li{
    margin-block: 15px;
  }
}